.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

@media screen and (max-width:500px) {
    .loader-wrapper {
        margin-left: 0rem;
        width: 100%;
    }
} 