.not__found {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--bg-code);
}

.span__not {
    color: var(--accent-color);
  border-bottom: 4px solid var(--borders-color);
}

.span__not:hover{
    color: var(--highlight-color);
}
.not__found img {
  height: 60%;
  margin: 2rem;
  border-radius: 2rem;
}

@media (max-width: 1251px) {
  .not__found {
    flex-direction: column;
    margin-top: 2rem;
  }
}
