/* .section__dark{
  background: var(--primary-color);
  display: flex;
  padding-top:4rem;
} */
.play__section {
  margin: 0.8rem 0;
  padding: 1rem;
}

.play-containers iframe {
  height: calc(75vh - 72px);
  border-radius: 1.8rem;
  box-shadow: 0 1.6px 1.6px 1.6px var(--highlight-color);
}

.bold__texts {
  font-size: 1.4rem;
  color: var(--bg-code);
  font-weight: 700;
  margin: 0.6rem 0;
}
.video__channels {
  display: flex;
  gap: 0.5rem;
  margin: 0.6rem 0;
}
.video__channels img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}
.video__titled {
  display: flex;
  align-items: center;
  color: var(--bg-code);
  display: inline-block;
}

.video__detail {
  font-weight: 600;
  font-size: 1.05rem;
  padding: 0;
}

.dislay__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1rem;
}
.video__select{
  background-color: var(--borders-color);
  padding: 0.38rem 0.68rem;
  white-space: nowrap;
  border: 1.5px solid var(--bg-code);
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  color: var(--bg-white);
  outline: none;
  border: 0;
  margin: 0.5rem 1rem 0.6rem 0;
  list-style: none;
}

.video__features {
  padding: 0.38rem 0.68rem;
  white-space: nowrap;
  border: 1.5px solid var(--bg-code);
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  color: var(--bg-white);
  outline: none;
  background:var(--black-primary);
  border: 0;
  margin: 0.5rem 1rem 0.6rem 0;
}
.video__features:hover {
  background-color: var(--borders-color);
  outline: none;
}
.video__features .is__select {
  background-color: var(--borders-color);
}
.video__space {
  padding: 0.3rem;
}
.video__features li {
  list-style: none;
  display: inline-block;
}
.desc__video {
  color: var(--bg-code);
  margin: 0.6rem;
}
.comments__section {
  display: flex;
  color: var(--bg-code);
  gap: 0.5rem;
}

@media screen and (max-width:500px) {
  .play-containers iframe{
      height: calc(50vh - 106px);
  }
  .video__features{
    margin: 0.4rem;
  }
}