.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--primary-color);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 1px var(--borders-color);
}

.header__menu {
  display: none;
  cursor: pointer;
}

.flex__hub{
  display: flex;
  place-items: center;
  gap:0.8rem
}

.header__logo {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  display: block;
}

.header__name, .header__name:hover{
  font-size: 1.8rem;
  color: var(--bg-code);
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  background: -webkit-linear-gradient(var(--borders-color), var(--bg-code));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.header form {
  flex: 0.6;
  display: flex;
  padding: 0.1rem;
  margin: 0 1rem;
  border-radius: 3px;
  border: 1.2px solid;
  background-color: var(--black-secondary);
}
.header form:hover{
  border-color: var(--primary-blue);
}

.header form input {
  width: 100%;
  border: none;
  font-weight: 500;
  background: transparent;
  padding: 0.3rem;
  color: var(--text-color);
}

.header form input:focus {
  outline: none;
}

.header form button {
  padding: 0 1.25rem;
  color: var(--text-color);
  background: transparent;
  border: none;
}

.header form button:focus {
  border: none;
}

.mode__icons{
  font-size: 1.4rem;
  cursor: pointer;
}

.header__icons {
  flex: 0.15;
  display: flex;
  flex-direction: column;
  place-items: center;
  cursor: pointer;
}

.header__icons i {
  border-radius: 50%;
  font-size: 1.2rem;
  margin-left: 5px;
}

.header__icons:hover, .mode__icons:hover{
  color: var(--primary-blue);
}

@media (max-width: 880px) {
  .header__name {
    display: none;
  }
}

@media (max-width: 520px) {
  .header {
    padding: 1rem;
  }
  .header form {
    flex: 0.75;
  }
  .sidebar{
    background: var(--black-primary);
    height: 90vh;
  }
  .header__menu {
    display: block;
    margin-right: 1rem;
  }
  

  .header__icons > *:not(i) {
    display: none;
  }
}
