.categoriesBar {
  padding: 1rem;
  font-size: 0.8rem;
  scrollbar-width: none;
  display: flex;
  overflow-x: scroll;
  margin: 0.8rem 0;
  color: var(--bg-code);
}
.categoriesBar::-webkit-scrollbar {
  width: 0px;
}

.categoriesBar span {
  margin-right: 1rem;
  padding: 0.5rem 0.95rem;
  white-space: nowrap;
  border: 1.5px solid var(--bg-code);
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  color: var(--bg-code);
  outline: none;
}
.categoriesBar span:hover {
  background-color: var(--borders-color);
  border: 0;
  outline: none;
  color: var(--bg-white);
}

.categoriesBar .active {
  color: var(--bg-code);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
