@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: var(--primary-color); */
  background-attachment: fixed;
  /* color: var(--bg-code); */
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
}

:root {
  --primary-blue: #00b4d8;
  --black-primary: #3d4349;
  --footer-color: #14213d;
  --color:#03045e;
  --bg-code: #fafafa;
  --black-bg: #000814;
  --highlight-color: #007fff;
  --primary-color: #040404;
  --borders-color: rgb(149, 54, 238);
  --shadow-color: #370617;
  --accent-color: #606060dc;
  --primary-hover: #ac4ff4;
  --bg-white: #fafafa;
  --bg-black:#000814;
  --logo-color:#580aff;
  --wishlist: #ae2012;
  --secondary-color:#571089;
}

.dark__mode{
  --primary-color: #040404;
  --bg-code: #fafafa;
  --black-bg: #000814;
  --borders-color: rgb(149, 54, 238);
  --footer-color: #14213d;
  --border-color: rgb(149, 54, 238);
}

.light__mode{
  --primary-color: #ffffff;
  --bg-code:#000814;
  --black-bg: #fafafa;
  --borders-color:#ac4ff4;
  --border-color: #571089;
}

.button-floating {
  background-color: var(--borders-color);
  position: fixed;
  bottom: 4%;
  right: 3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 3.2rem;
  min-height: 3.2rem;
  border-radius: 50%;
  color: var(--bg-white);
  border: 0;
}
.button-floating i {
  font-size: 1.65rem;
}
.button-floating:hover {
  background: var(--shadow-color);
}

.section__page{
  min-height: calc(100vh - 200px);
  margin-top: 4.6rem;
}

